body 
{
background-color: rgb(42, 63, 70);
    font-family: Lato;
    color:white;
}

button
{
    font-family: Lato;
    color:white;
}

html, body
{
    margin:0;
    padding:0;
}

/* contener xd */
#contener
{
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    min-height:900px;
    width: 100%;
    overflow: hidden;
}

/* Ustawienia ogólne inputs*/

.box
{
    height:37px;
    max-height:40px;
    border-radius:5px;
    font-family: Lato;
    font-size:17px;
    padding:5px;
}
.boxSelect
{
    height:35px !important;
    max-height:40px;
    border-radius:5px;
    font-family: Lato;
    font-size:17px;
    padding:3px;
}
.boxSmall
{
    height:37px;
    border-radius:5px;
    font-family: Lato;
    font-size:17px;
    padding:5px;
    width: 50px;
}

.boxNum
{
    height:20px;
    border-radius:5px;
    font-family: Lato;
    font-size:17px;
    padding:5px;
    width: 40px;
}

/* Przyciski*/

.minwyb
{
    border-collapse: collapse!important;
    border-color: rgb(17, 50, 121);
    border-radius: 3px;
    background-color: rgb(17, 50, 121);
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.minwyb:hover
{
    background-color: rgb(30, 52, 112);
}
.minwyba
{
    text-decoration: none;
    color: white;
}
.minwy
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.przyc1
{
    border-collapse: collapse;
    border-color:rgb(122, 208, 235);
    border-radius: 5px;
    padding:10px;
    color:white;
    background-color: rgb(122, 208, 235);
    font-size: 20px;
}
.przyc1:hover
{
   background-color: rgb(166, 234, 255); 
}

/*index.php*/

#nl3
{
    display:flex;
    align-content:center;
    justify-content:center;
    width:100%;
}

#contIndex
{
    display:flex;
    align-content:center;
    justify-content:center;
}

#cont2Index
{
    display:flex;
    align-content:center;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    max-width:1000px;
    margin: 50px;
    background-color: rgb(84, 125, 141);;
    padding:70px;
    border-radius:10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

#formIndex
{
    display:flex;
    align-content:center;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width:85%;
}

#form1Index
{
    display:flex;
    align-content:center;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.tabIndex
{
    background-color:rgb(32, 37, 53);
    padding:30px;
    margin:40px 20px 0px 20px;
    border-radius:10px;
}

.tabIndex table tr td tbody
{
    border-collapse: collapse;
    padding:10px;
}
.tabIndex td
{
    padding-top:10px;
    padding-bottom:10px;
}

#logIndex
{
    display:flex;
    align-items:center;
    height:50px;
    color:rgb(209, 21, 21);
    font-weight:bold!important;
}

#bttnIndex
{
    width:50%;
}

.tabIndex
{
    max-width:500px;
}

/* index12.php */

#contentHP
{
    display: flex;
    flex-direction: column;
    justify-items: normal;
    align-items: center;
    background-color: rgb(60, 90, 100);
    width:80%;
    padding: 20px;
}

#contg
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
}

#conttext
{
    display:flex;
    flex-direction: column;
    justify-items: normal;
    width: 600px;
    min-width:100px;
    margin: 40px auto;
    padding: 20px;
    line-height: 1.7;
}

#nl
{
    width: 600px;
    height: 320px;
    border-radius: 10px;
}
#nl2
{
    width: 600px;
    height: 320px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* nagłówek */
#top
{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#header
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: normal;
    align-items: center;
    border-radius: 5px ; 
    background-color: rgb(74, 106, 175);
    color:white;
}

#imgh
{
    margin:7px;
    width:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(30, 52, 112);
    border-radius: 5px;
    
}
#ih
{
    width: 60px;
    image-resolution: 60px;
    border-radius:5px
}

#lab_wer
{
    width:300px;
    display:flex;
    justify-content: center;
    align-content: center;
}

#prz
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: auto;
    gap: 0px;
    align-items: center;
    justify-content: center;
}

.ph
{
    width: 100px;
    height: 50px;
    font-style: normal!important;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    flex: 50%;
    border: none;
}
.ph:hover
{
    background-color: rgb(30, 52, 112);
}

.aph
{
    border-top: none!important;
    border-left: none!important;
    border-bottom: none!important;
    border-right: 1px, dashed, black!important;
}
.aph:visited, .aph:link, .aph:hover
{
    border-color: black!important;
    border-right: 1px, dashed, black!important;
}
.aph:last-child
{
    border-right:none;
}

#kontr
{
    width:370px;
    margin-left:70px;
    max-width:500px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

/* Kontent */

#ContentPages
{
    display: flex;
    align-content:center;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    background-color: rgb(60, 90, 100);
    width: 80%;
    min-height:900px;
    padding-bottom:20px;
    max-width: 100vw; 
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #ContentPages {
        width: 95% !important; /* Zwiększamy szerokość na małych ekranach */
        padding-left: 5px;     /* Mniejsze odstępy, żeby zyskać miejsce */
        padding-right: 5px;
    }
    #contentHP {
        width: 95% !important; /* Zwiększamy szerokość na małych ekranach */
        padding-left: 5px;     /* Mniejsze odstępy, żeby zyskać miejsce */
        padding-right: 5px;
    }
    .pageTable
    {
        width:120%;
        -webkit-overflow-scrolling: touch;
        box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 1400px) 
{
    #contener
    {
        min-height:500px;
    }
    #ContentPages
    {
        min-height:532px;
        height: 100%;
    }
    #nl
    {
        width: 400px !important;
        height: 210px !important;
        border-radius: 10px !important;
    }
    .tabIndex
    {
        background-color:rgb(32, 37, 53);
        padding:15px;
        margin:20px 10px 0px 10px;
        border-radius:10px;
    }

    .box
    {
        height:18px !important;
        max-height:20px !important;
        border-radius:5px;
        font-family: Lato;
        font-size:17px;
        padding:5px;
    }

    #cont2Index
    {
        max-width:1000px;
        margin: 20px;
        padding:30px; 
    }
    
    #logIndex
    {
        height: 25px;
    }
    
    .ph
    {
        width: 85px;
        height: 50px;
        font-style: normal!important;
        font-size: 15px;
    }
    #lab_wer
    {
        width: 200px;
    }
    #kontr
    {
        width: 200px;
        max-width: 280px;
    }
}

.buttonsContainer
{
    display: flex; 
    justify-content: center; 
    gap: 15px; 
    margin-bottom: 30px; 
    
}

.buttonsContainer button {
    padding: 10px 20px;
    border-radius: 8px;
    border-color:transparent;
    font-size: 16px;
    background-color:#1e465c;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.1s;
}

.buttonsContainer button:hover {
    cursor: pointer;
    background-color: #2e6b8c; /* Ciemniejszy odcień przy najechaniu */
}

.pageForm
{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction:row;
    flex-wrap:wrap;
    gap: 10px;
    padding: 20px 30px;
    border-radius: 10px; 
    background-color: rgb(84, 125, 141); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.pageForm form
{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction:row;
    flex-wrap:wrap;
    gap: 10px;
    padding: 20px 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#pageFormSerialGrades form
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 20px 30px;
    margin: 15px 0px 15px;
    border-radius: 10px; 
    background-color: rgb(84, 125, 141); 
}

.formItems
{
    display: flex;
    align-items: center;
    gap: 10px; /* Odstęp między etykietą a polem select */
    margin-right: 25px; /* Odstęp między grupami */
    min-height: 75px!important;
}

.formButton
{
    padding: 10px 20px;
    border-radius: 8px;
    border-color:transparent;
    font-size: 16px;
    color:white;
    background-color:#1e465c;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    /* Użyj jednej, spójnej kolorystyki, np. dopasowanej do tła */
    transition: background-color 0.3s, transform 0.1s;
}

.formButton:hover {
    cursor: pointer;
    background-color: #2e6b8c;
}

.formTable table
{
    border-collapse: collapse;
    border: black 1px solid;
}
.formTable table tr td
{
    border-bottom: black 1px solid;
    background-color: #14455e;
    padding: 4px;
}
.formTable td:first-child
{
    text-align: right;
}

#bupr
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(13, 102, 161);
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/*Ocenygl*/
#ocenygl
{
    margin-bottom:20px;
}


/* Tabela*/

.pageTable
{
    display:flex;
    justify-items:center;
    flex-direction:column;
    width:95%;
    max-width:100%;
    padding: 20px;
    border-radius:20px;
    box-sizing: border-box;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color:#071922;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
}

.pageTable table
{
    width: 1116px;
    min-width:1116px; 
    margin-left: auto;
    margin-right: auto;
}

.pageTable td tr th table
{
    padding: 4px;
    border: 1px solid black !important;
}

.pageTable td
{
    padding:5px;
}

.pageTable tr:first-child
{
    background-color: #071922!important;
}
.pageTable th td
{
    border-bottom: solid 2px black;
}
.pageTable tr:nth-child(even)
{
    background-color: #0d2e3f;
}
.pageTable tr:nth-child(odd)
{
    background-color: #14455e;
}
.pageTable tr:nth-child(even):hover
{
    background-color: #2786b6;
    transition: background-color 0.3s, transform 0.1s;
}
.pageTable tr:nth-child(odd):hover
{
    background-color: #2786b6;
    transition: background-color 0.3s, transform 0.1s;
}

.actionTD
{
    display:flex;
    flex-direction: row;
}

.klej
{
    position: sticky;
    left: 0;
    width: none;
    z-index: 20;
}
/*Ocena*/

.ocenka
{
    display: flex;
    width: 30px;
    height: 30px;
    
    border: 1px rgb(1, 9, 44) solid;
    align-items: center;
    justify-content: center;
}
.ocenka2:link
{
    text-decoration: none ;
    color: black;
}
.ocenka3
{
    text-align: center;
    color:black;
    font-weight:500 !important;
}
.ocenka4
{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}
.ocenka5
{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 5px;
    width: auto;
    min-width: 100px;
    color:black;
    font-weight:500 !important;
    /*border-bottom: 1px solid black;
    border-left: none;
    border-top: none; */
    
}

.ocenaInfo
{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    gap: 3px;
}

.sredniaw
{
    background-color: gray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bo
{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 32px;
}

/* Obecność */

.obec0
{
    display: flex !important;
    flex-direction: row !important;
    gap: 5px;
    width: auto;
}
.obec1
{
    display: flex;
    flex-direction: row !important;
    width: 30px;
    height: 30px;
    background-color: rgb(178, 199, 255);
    border: 1px saddlebrown solid;
    align-items: center;
    justify-content: center;
}
.obec2
{
    text-align: center;
    color: black;

}
.obec2:visited, .obec2:link
{
    text-decoration: none;
    color: black;
}

#tabOB
{
    display:flex;
    justify-items:center;
    flex-direction:column;
    width:45%;
    margin: 20px;
    max-width:100%;
    padding: 20px;
    border-radius:20px;
    box-sizing: border-box;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color:#071922;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
}

#tabOB table
{
    margin-left: auto;
    margin-right: auto;
}

#tabOB td tr th table
{
    padding: 4px;
    border: 1px solid black !important;
}

#tabOB td
{
    padding:5px;
}

#tabOB tr:first-child
{
    background-color: #071922!important;
}
#tabOB th td
{
    border-bottom: solid 2px black;
}
#tabOB tr:nth-child(even)
{
    background-color: #0d2e3f;
}
#tabOB tr:nth-child(odd)
{
    background-color: #14455e;
}
#tabOB tr:nth-child(even):hover
{
    background-color: #2786b6;
    transition: background-color 0.3s, transform 0.1s;
}
#tabOB tr:nth-child(odd):hover
{
    background-color: #2786b6;
    transition: background-color 0.3s, transform 0.1s;
}

#tabOS
{
    display:flex;
    justify-items:center;
    flex-direction:column;
    width:85%;
    margin: 20px;
    max-width:100%;
    padding: 20px;
    border-radius:20px;
    box-sizing: border-box;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color:#071922;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
}

#tabOS table
{
    margin-left: auto;
    margin-right: auto;
}

#tabOS td tr th table
{
    padding: 4px;
    border: 1px solid black !important;
}

#tabOS td
{
    padding:5px;
}

#tabOS tr:first-child
{
    background-color: #071922!important;
}
#tabOS th td
{
    border-bottom: solid 2px black;
}
#tabOS tr:nth-child(even)
{
    background-color: #0d2e3f;
}
#tabOS tr:nth-child(odd)
{
    background-color: #14455e;
}
#tabOS tr:nth-child(even):hover
{
    background-color: #2786b6;
    transition: background-color 0.3s, transform 0.1s;
}
#tabOS tr:nth-child(odd):hover
{
    background-color: #2786b6;
    transition: background-color 0.3s, transform 0.1s;
}


/* Zdjęcia */


/* dodatkowe */

