body 
{
background-color: lightblue;
    font-family: ubuntu;
}

/* index.php */

#gwyb
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 33%;    
}

#contg
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pg
{
    width: 200px;
    height: 125px;
    border: 1px, solid, gray;
    font-size: 30px;
    text-decoration: none;
    background-color: rgb(81, 168, 81);
}
.pg:hover
{
    background-color: rgb(52, 110, 52);
}

/* nagłówek */

#header
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: normal;
    align-items: center;
    border-radius: 10px ;
    gap: 80px;
    background-color: rgb(13, 179, 143);
    
}

#prz
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.ph
{
    width: 100px;
    height: 75px;
    border: 1px, solid, gray;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(13, 102, 161);
    border-radius: 10px;
    text-align: center;
    flex: 1;
}
.ph:hover
{
    background-color: rgb(30, 52, 112);
}

#imgh
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(30, 52, 112);
    background-color: brown;
    border-radius: 10px;
    
}
#ih
{
    width: 150px;
    image-resolution: 150px;
}

/* Kontent */

#content
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
   margin-top: -25px;
}
#bupr
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(13, 102, 161);
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/* DOcSer */

.BarDOS
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 20px;
    width: 100%;
    background-color: rgb(55, 197, 162);
    border-radius: 10px;
    border-color: gray;
    margin-top: 10px;
}

/* Przyciski*/

.minwyb
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(17, 50, 121);
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.minwyb:hover
{
    background-color: rgb(30, 52, 112);
}
.minwyba
{
    text-decoration: none;
    color: white;
}
.minwy
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.przyc1
{
    border-color: black;
    border-radius: 5px;
    background-color: rgb(255, 229, 214);
    font-size: 20px;
}

/* Tabela*/

td, tr, th, table
{
    padding: 4px;
    border-collapse: collapse;
    border: 1px solid black
}
tr:first-child
{
    background-color: rgb(82, 127, 179)!important;
}
th, td
{
border-bottom: solid 2px black;
}
tr:nth-child(even)
{
    background-color: rgb(138, 178, 223);
}
tr:nth-child(odd)
{
    background-color: rgb(161, 204, 253);
}

.uklad td, tr, th, table
{
    padding: 10px;
    border-collapse: none;
    border: none;

    }
.uklad tr:first-child
{
    background-color: wheat;
}
.uklad th, td
{
border-bottom: none;  
}
.uklad tr:nth-child(even)
{
    background-color: wheat !important;
}
.uklad tr:nth-child(odd)
{
    background-color: wheat !important;
}


/*Ocena*/

.ocenka
{
    display: flex;
    width: 30px;
    height: 30px;
    
    border: 1px saddlebrown solid;
    align-items: center;
    justify-content: center;
}
.ocenka2:link
{
    text-decoration: none ;
    color: black;
}
.ocenka3
{
    text-align: center;
}
.ocenka4
{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}
.ocenka5
{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 5px;
    width: auto;
    min-width: 100px;
    /*border-bottom: 1px solid black;
    border-left: none;
    border-top: none; */
    
}
.sredniaw
{
    background-color: gray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bo
{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 32px;
}

/* Obecność */

.obec0
{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 5px;
    width: auto;
}
.obec1
{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: rgb(178, 199, 255);
    border: 1px saddlebrown solid;
    align-items: center;
    justify-content: center;
}
.obec2
{
    text-align: center;
    color: black;

}
.obec2:visited, .obec2:link
{
    text-decoration: none;
    color: black;
}

#tabOB
{
    width: 60%;
    overflow-x:scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Zdjęcia */
#nl
{
    width: 600px;
    height: 320px;
    
}
#nl2
{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* dodatkowe */

select, option
{
    width: 200px;
    height: 30px;
}
button
{
    font-family: ubuntu;
}